
@import 'utils';

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .label {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .error {
        color: $oc-red-6;
    }

    .input-wrapper {
        display: flex;
        
        .input {
            height: 1.8rem;
            font-size: 1.3rem;
            outline: none;
            border: 1px solid $oc-gray-5;
        }
    }


    .button-wrapper {
        display: flex;
        margin-left: auto;
        margin-top: 1rem;
        .submit-button {
            padding-top: 0.35rem;
            padding-bottom: 0.35rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;

            background: $oc-blue-5;

            font-size: 1.25rem;
            font-weight: 500;
            color: white;

            user-select: none;

            cursor: pointer;

            &:hover {
                background: $oc-blue-6;
            }

            &:active {
                background: $oc-blue-7;
            }


        }

        .cancel-button {
            padding-top: 0.35rem;
            padding-bottom: 0.35rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;

            background: $oc-red-5;

            font-size: 1.25rem;
            font-weight: 500;
            color: white;

            user-select: none;

            cursor: pointer;

            &:hover {
                background: $oc-red-6;
            }

            &:active {
                background: $oc-red-7;
            }
        }

        .submit-button + .cancel-button {
            margin-left: 1rem;
        }
    }

    .label + .input-wrapper {
        margin-top: 1rem;
    }
}