
@import 'utils';


.wrapper {
    width: 1024px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include media("<=medium") {
        width: 100%;
    }

    .description {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}