@import 'utils';

.wrapper {
    @include media("<medium") {
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    display: flex;
    flex-direction: row;
    flex: 1;
    .input {
        flex: 1;
        width: 100%;
        border: 1px solid $oc-gray-3;
        outline: none;
        border-radius: 0px;
        line-height: 2.5rem;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 2.5rem;

        @include media("<medium") {
            // font-size: 0rem;
        }

        @include media("<=small") {
            font-size: 0.75rem;
        }
        
    }

    & + & {
        margin-left: 1rem;
    }
}