
@import 'utils';

.positioner {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .shadowed-box {
        margin: 0 auto;
        width: 500px;
       
        @include media(">medium") {
            @include material-shadow(2, 0.5);
        }
        .logo-wrapper {
            background: $oc-teal-7;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo {
                color: white;
                // font-family: 'Rajdhani';
                font-size: 2.4rem;
                letter-spacing: 5px;
                text-decoration: none;
            }
        }

        .contents {
            background: white;
            padding: 2rem;
            height: auto;
        }

        @include media("<medium") {
            width: 100%;
        }

    }

}